.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}
input{
    height: 50px;
    width: 400px;
    font-size: 22px;
    border-radius: 8px;
}
#add-btn{
    height: 55px;
    width: 60px;
    margin-left: 5px;
    transition: 0.3s;
    border-radius: 5px;
}
#add-btn:hover{
    background-color: aquamarine;
    font-size: 22px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tasklist{
    width: 600px;
    /* border: solid; */
    height: auto;
    position: relative;
   
    top: 20px;
}
.list-div{
    display: flex;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.newtasklist{
    list-style: none;
    font-size: 20px;
    margin-left: 10px;
}

.donebtn{
    position: absolute;
    right: 60px;
    padding: 4px;
    background-color: transparent;
    border: 1px solid rgb(51, 255, 0);
    border-radius: 5px;
}
.deletebtn{
    position: absolute;
    right: 20px;
    padding: 4px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
   
}
.deletebtn:hover{
    background-color: red;
    color: white;
  
    
}
.donebtn:hover{
    background-color: rgb(51, 255, 0);;
}
